<header>
    <div class="uk-navbar-container" uk-sticky="show-on-up: true; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #scrollup-dropdown">
        <div class="uk-container uk-container-expand">
            <nav uk-navbar>
                <div class="uk-navbar-right">
                    <a class="uk-navbar-item uk-logo" href="/" title="home"><img src="/img/solarnetwork-foundation-logo-2023.svg" alt="SolarNetwork Foundation"></a>
                </div>
            </nav>
        </div>
        {{ if and (.IsPage) (.Section) }}
            {{ partial "breadcrumb" . }}
        {{ end }}
    </div>
</header>
